/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}

/* STILI PER LA VERSIONE DESKTOP */
@media screen and (min-width: 1200px) {
  /* lavoro sul header */

  header {
    background: rgb(0, 160, 198);
    background: linear-gradient(
      180deg,
      rgba(0, 160, 198, 1) 0%,
      rgba(3, 109, 134, 1) 68%
    );
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 0em 1.5em;
  }

  header div {
    display: inline-block;
    position: relative;
    right: 7em;
    margin-left: 1em;
  }

  header div img {
    display: inline-block;
    margin-left: 0em;
    position: relative;
    top: 1.5em;
    width: 13em;
  }

  header div p {
    display: inline-block;
    position: relative;
    bottom: 1.5em;
    left: 1.5em;
    font-size: 16px;
  }

  header nav {
    display: inline-block;
    position: relative;
    bottom: 1.5em;
    left: 6em;
    font-size: 16px;
  }

  header nav ul {
    margin: 0;
  }
  header nav li {
    list-style: none;
    display: inline;
    margin-left: 1em;
  }
  header nav li a {
    color: white;
    text-decoration: none;
  }
  header nav li a:hover {
    color: red;
  }
  header nav li a::before {
    content: "\22c6\0020";
  }

  /* lavoro sul main */

  main article {
    text-align: left;
    height: 90em;
  }

  main h1 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
    margin-left: 0.2em;
  }

  main article #logo-html {
    width: 4em;
    border: 3px solid darkred;
    padding: 0.3em;
  }

  main h2 {
    font-size: 1.1em;
    font-weight: bold;
  }

  main ul li {
    margin: 0.5em;
  }

  main table {
    position: relative;
    left: 13em;
    width: 55em;
    margin-top: 6em;
    margin-bottom: 6em;
  }

  main iframe {
    display: inline-block;
    width: 30em;
    margin-bottom: 2em;
    border-radius: 20px;
    height: 13em;
    /* position: relative; */
    /* left: 3.9em; */
    margin-right: -0.3em;
    margin-left: 10em;
  }

  main section {
    display: inline-block;
    width: 30em;
    position: relative;
    bottom: 5.8em;
    border-radius: 20px;
    height: 13em;
  }

  main section h2 {
    background-color: #b4b2b2;
  }

  main section form input {
    width: 24em;
    background-color: white;
  }

  main aside h2 {
    font-size: 1.6em;
    letter-spacing: 0em;
  }

  main aside div {
    display: inline-block;
    width: 25em;
    margin: -2px;
    position: relative;
    left: 3.2em;
  }

  /* lavoro sul footer */
}

/* STILI PER LA VERSIONE MEDIUM */
@media screen and (min-width: 768px) {
  /* lavoro sul header */

  header img {
    width: 11em;
    margin-bottom: 10px;
  }

  header p {
    margin-bottom: 1.1em;
  }

  header ul li {
    display: inline-block;
  }

  /* lavoro sul main */

  main h1 {
    font-size: 4.6rem;
  }

  main article #logo-html {
    width: 4em;
    border: 2px solid darkred;
    padding: 0.2em;
  }

  main article ul li {
    margin: 0.1em;
  }

  main article h2 {
    font-size: 1.1em;
    font-weight: bold;
  }

  main table {
    position: relative;
    left: 10.5em;
    width: 29em;
    margin-top: 6em;
    margin-bottom: 6em;
  }

  main section h2 {
    background-color: #b4b2b2;
  }

  main section form input {
    width: 24em;
    background-color: white;
  }

  main aside h2 {
    font-size: 1.8em;
  }

  /* lavoro sul footer */

  footer address {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* STILI SULLA VERSIONE MOBILE */

@media screen and (min-width: 576px) {
  /* header,
  main,
  footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  } */

  /* lavoro sul header */

  header img {
    width: 13em;
  }

  header div p {
    font-size: 1.1em;
  }

  header nav ul li {
    display: inline-block;
  }

  /* lavoro sul main */
  main article h1 {
    font-size: 3.2em;
  }

  main article #logo-html {
    width: 5em;
    padding: 0.5em;
    border: 4px solid darkred;
  }

  main section h2 {
    background-color: #b4b2b2;
  }

  main section form input {
    width: 14em;
    background-color: white;
  }

  main aside h2 {
    font-size: 2.3em;
  }

  /* lavoro sul footer */

  footer p {
    font-size: 1.5em;
  }

  footer address {
    font-size: 1.5em;
  }
}

/* STILI PER LA STAMPA */

@media print {
  header,
  main,
  footer {
    width: 90%;
    height: auto;
  }

  header nav {
    display: none;
  }
}
